@import './store.css';

/* TOP BAR */
[data-theme="dark"] .logo .light {
    display: none;
}

[data-theme="light"] .logo .dark {
    display: none;
}

.topbar {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    z-index: 4;
}

/* BUTTON MODE */
.icon-btn {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;

    & .material-symbols-outlined {
        width: 1em;
        height: 1em;
        display: block;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    }
}

.theme-btn {
    color: var(--on-surface-variant);
    border-radius: var(--radius-full);
    overflow: hidden;
}

[data-theme="dark"] .theme-btn .dark,
[data-theme="light"] .theme-btn .light {
    display: none;
}

.section {
    padding-block: var(--section-padding);

    & .container {
        padding-inline: 16px;
    }

    & .img-holder {
        aspect-ratio: var(--width) / var(--height);
        background-color: transparent;
        overflow: hidden;
        ;
    }

    & .img-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .chip {
        text-align: center;
        height: 32px;
        padding: 10px;
        max-width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border: 1px solid var(--outline);
        border-radius: var(--radius-small);
        color: var(--on-surface-variant);
        transition: 0.4s;

        & .material-symbols-outlined {
            font-size: 2rem;
        }

        & .label-large {
            margin-top: 5.5px;
        }
    }

    & .chip:hover {
        background-color: var(--surface-container-low);
    }
}

.hero {
    padding-block-start: calc(var(--top-bar-height) + 24px);

    & .container {
        display: grid;
        align-items: center;
        gap: 24px;
    }

    & .hero-banner {
        width: 248px;
        border-radius: var(--radius-circle);
    }

    & .hero-content {
        max-width: 500px;
    }

    & .section-subtitle {
        color: var(--on-surface-variant);
    }

    & .section-text {
        margin-block: 5px 16px;
        color: var(--on-surface-variant);
    }

    & .btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}

/* About Card */
.about-card {
    background-color: var(--surface-container-low);
    color: var(--on-surface-variant);
    margin-inline: 16px;
    padding: 16px;
    margin-block-start: 24px;
    border-radius: var(--radius-large);

    & .card-title {
        color: var(--on-surface);
    }

    & .card-text {
        margin-block: 12px;
        padding-block: 12px;
        border-block: 1px solid var(--outline-variant);
    }

    & .about-list {
        display: grid;
        gap: 12px;

        & .list-item {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
}

/* TAB */
.primary-tabs {
    background-color: var(--background);
    margin-block-start: 24px;
    margin-inline: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    border-block-end: 1px solid var(--outline-variant);

    & .tab-btn {
        height: 48px;
        width: 100%;
        display: grid;
        place-content: center;
        background-color: var(--surface);
        color: var(--on-surface-variant);
        transition: 0.4s;
    }

    & .tab-btn.active {
        color: var(--primary);
        border-bottom: var(--primary) 2px solid;
        transition: 0.4s;
    }

    & .tab-btn:hover {
        background-color: var(--surface-container-low);
    }

}

/* Project List */
.tab-content:not(.active) {
    display: none;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, mixmax(260px, 1fr));
    gap: 8px;

    & .card {
        background-color: var(--surface-container-low);
        border-radius: var(--radius-medium);
        padding: 16px;
        transition: 0.3s;
        display: grid;
        gap: 16px;
        & .card-banner {
            border-radius: var(--radius-medium);
        }

        & .card-content {
            display: grid;
            gap: 4px;

            & .card-subtitle {
                color: var(--on-surface-variant);
            }

            & .card-title {
                color: var(--on-surface);
            }
        }
    }

    & .card:hover {
        background-color: var(--surface-container);
    }
}

/* resume */
.resume-tab:not(.active) {
    display: none;
}

.resume-tab {

    & .section-title {
        margin-block-end: 16px;
    }

    & .list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 24px;
        margin-block-end: 28px;

        & .resume-item {

            & .resume-card {
                display: grid;
                gap: 4px;

                & .card-text {
                    color: var(--on-surface-variant);
                }
            }
        }

        & .card-subtitle {
            color: var(--primary);
        }
    }

    & .resume-bottom-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 12px;

        & .resume-bottom-item {
            background-color: var(--surface-container);
            display: flex;
            align-items: center;
            gap: 8px;
            border-radius: var(--radius-small);
            padding: 16px;

            &.icon {
                height: 28px;
            }
        }
    }
}

/* Input field */
.input-field,
.textarea {
    color: var(--on-surface);
    padding: 13px 16px;
    box-shadow: inset 0 0 0 1px var(--outline);
    border-radius: var(--radius-extra-small);
    outline: none;
    transition: box-shadow 0.4s;
}

.textarea {
    height: 120px;
    padding: 16px;
}

:where(.input-field, .textarea)::placeholder {
    color: var(--on-surface-variant);
}

:where(.input-field, .textarea):focus {
    box-shadow: inset 0 0 0 2px var(--primary);
}

.tab-content:not(.active) {
    display: none;
}

.contact-tab {
    padding-block-end: 0;

    &.container {
        padding-block-end: 24px;   
    }
}

.contact-info,
.contact-info-list {
    display: grid;
    gap: 16px;
}

.contact-info {
    margin-block-end: 24px;

    & .icon-box {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        color: var(--on-surface-variant);
    }
}

.contact-info-list {
    padding-block-end: 12px;
    border-block-end: 1px solid var(--outline-variant);

    & .contact-info-item {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.info-contact {
    display: grid;
    gap: 16px;

    & .info-title {
        color: var(--on-surface-variant);
        opacity: 0.8;    
    }
    & .info-text {
        color: var(--on-surface-variant);
    }
}

.social-list {
    display: flex;
    gap: 16px;

    & .social-item {
        padding: 8px;
    }
}

.contact-form {
    background-color: var(--surface-container);
    padding: 16px;
    margin-block-end: 16px;
    border-radius: var(--radius-medium);

    & .input-wapper {
        margin-block-start: 16px;
        display: grid;
        gap: 10px;
    }

    & .btn {
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 24px 0;
        border-radius: var(--radius-full);
        background-color: var(--primary);
        color: var(--on-primary);
        font-weight: var(--weight-medium);
        transition: 0.3s;
    }
    & .btn:hover:not(:focus) {
        box-shadow: var(--primary) 0 0 0 1px;
    }
}

/* Footer */
.footer {
    text-align: center;
    padding: 16px;
    border-block-start: 1px solid var(--outline-variant);
}

